# Final Project

## ada_project

Repository for the essential files for the final project of the Programming Techniques course - Ada tech. The practical objective of this project is to develop a system for storing, maintaining and manipulating databases using pandas.

In this work, we want to create a system for organizing product sales data in a company. There are already two services that implement different blocks of a complete project.

### Part 1 - Data Acquisition
Initially, a web-server created in Javascript will serve as an entry point for the data, simulating the weekly acquisition of all products sold by the company. To run the server, you need to install [NodeJS](https://nodejs.org/en/). With the repository folder already cloned, you must use the following commands to install the packages.

`npm init`
`npm install`

Then just run the `node web-server.js` command. To request the data in JSON format, just use a GET request to localhost:3000/api/ep1

### Part 2 - Data Storage and Management

This is the necessary stage of the project. The student must be able to create a system that can update tables in the face of new data. Also, the formatting of dataframes must be in accordance with the project's specifications, so that communication with the dashboard can be stablished immediately and correctly, without any further adaptation. 

### Part 3 - Data visualization

Last step of the project pipeline. Using the aforementioned tables, this script generates a dashboard containing essential info for data visualization. The script uses the `streamlit` framework. In order to run locally, the student should install the package (either using `pip install streamlit` or `conda install streamlit`). To run the application, just type `streamlit run app.py` and access localhost:8501 to view the dashboard. If the second part of the project is done correctly, the dashboard should work like the image below.

![example](https://github.com/mdrs-thiago/ada_project/blob/492aafd0f66fdb37fec04a4e72c085ca7aba87f1/ada_project_dashboard.png)

## Imports

In [1]:
import pandas as pd
import numpy as np
import requests
import time
import requests
import datetime 
import unicodedata
import random
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
# show all Columns
pd.set_option("display.max_columns", None)

## Main Fuction

In [3]:
df = pd.DataFrame()

def request_api (x:str):
    '''
    x: str <- link da API
    '''
    exemple = requests.get(x)
    dados = exemple.json()
    df = pd.json_normalize(dados)
    df['date'] = df['date'].apply(lambda x: datetime.datetime.fromtimestamp(x))
    return df

## Part I - Creating DataFrame and Data Wrangling

In [4]:
# creating table and putting a week list:
df_project = request_api('http://localhost:3000/api/ep1')
df_project.insert(2,'week_number',df_project['date'].dt.isocalendar().week)
df_project.head(5)

,id,date,week_number,prod_0,prod_2,prod_6,prod_8,prod_9,prod_11,prod_15,prod_1,prod_3,prod_5,prod_7,prod_4,prod_10
0,la2xdzzw7qv5om6fa0g,2020-02-26 21:06:55.977794,9,47.364496,7.672590,40.456995,207.836004,509.705960,570.924833,674.144248,NaN,NaN,NaN,NaN,NaN,NaN
1,la2xdzzw09rx1jt6tkpk,2020-02-26 21:07:42.378067,9,NaN,NaN,NaN,655.195199,NaN,NaN,672.358260,41.435250,20.839963,3.168206,10.894743,NaN,NaN
2,la2xdzzwzpwl5zjyen8,2020-02-27 07:45:42.775440,9,7.157406,22.733897,21.891814,350.212205,NaN,NaN,65.142030,1.645031,14.461357,NaN,6.330850,27.445160,NaN
3,la2xdzzwh89kcz9h7sq,2020-02-26 17:25:25.950196,9,NaN,NaN,48.370788,38.414236,432.824559,559.079681,603.228758,8.763239,NaN,2.234517,NaN,NaN,NaN
4,la2xdzzwd0z4v96skr,2020-02-27 06:28:40.799502,9,31.434615,44.233378,33.609612,NaN,43.218127,690.523969,215.136299,22.698311,NaN,46.024376,17.527908,47.081143,763.744033

In [5]:
# getting a list of generated products (columns):
products = df_project.columns
products = products[3:]
products

Index(['prod_0', 'prod_2', 'prod_6', 'prod_8', 'prod_9', 'prod_11', 'prod_15',
       'prod_1', 'prod_3', 'prod_5', 'prod_7', 'prod_4', 'prod_10'],
      dtype='object')

In [6]:
dict_price = {}

In [7]:
# creating random prices for items for the first time
for i in products:
    if i not in dict_price.keys():
        dict_price[i] = round(random.uniform(1, 5),2)

In [8]:
dict_price

{'prod_0': 1.54,
 'prod_2': 4.9,
 'prod_6': 1.39,
 'prod_8': 2.09,
 'prod_9': 3.22,
 'prod_11': 2.54,
 'prod_15': 4.21,
 'prod_1': 3.22,
 'prod_3': 1.8,
 'prod_5': 3.87,
 'prod_7': 3.65,
 'prod_4': 1.13,
 'prod_10': 1.9}

In [10]:
# transforming prod_0 â€“ prod_7 into integer, because quantity of products purchased is in units:
for i in dict_price.keys():
    for j in range(8):
        if i == f'prod_{j}':
            df_project[i] = df_project[i].apply(np.floor)

In [11]:
df_project.head()

,id,date,week_number,prod_0,prod_2,prod_6,prod_8,prod_9,prod_11,prod_15,prod_1,prod_3,prod_5,prod_7,prod_4,prod_10
0,la2xdzzw7qv5om6fa0g,2020-02-26 21:06:55.977794,9,47.0,7.0,40.0,207.836004,509.705960,570.924833,674.144248,NaN,NaN,NaN,NaN,NaN,NaN
1,la2xdzzw09rx1jt6tkpk,2020-02-26 21:07:42.378067,9,NaN,NaN,NaN,655.195199,NaN,NaN,672.358260,41.0,20.0,3.0,10.0,NaN,NaN
2,la2xdzzwzpwl5zjyen8,2020-02-27 07:45:42.775440,9,7.0,22.0,21.0,350.212205,NaN,NaN,65.142030,1.0,14.0,NaN,6.0,27.0,NaN
3,la2xdzzwh89kcz9h7sq,2020-02-26 17:25:25.950196,9,NaN,NaN,48.0,38.414236,432.824559,559.079681,603.228758,8.0,NaN,2.0,NaN,NaN,NaN
4,la2xdzzwd0z4v96skr,2020-02-27 06:28:40.799502,9,31.0,44.0,33.0,NaN,43.218127,690.523969,215.136299,22.0,NaN,46.0,17.0,47.0,763.744033

In [12]:
# apply the unit price created into the DataFrame
for i in dict_price.keys():
    indice_column = df_project.columns.get_loc(i)
    indice_column += 1
    df_project.insert(indice_column,f'{i}_unit_price',dict_price[i])

In [13]:
 df_project.head()

,id,date,week_number,prod_0,prod_0_unit_price,prod_2,prod_2_unit_price,prod_6,prod_6_unit_price,prod_8,prod_8_unit_price,prod_9,prod_9_unit_price,prod_11,prod_11_unit_price,prod_15,prod_15_unit_price,prod_1,prod_1_unit_price,prod_3,prod_3_unit_price,prod_5,prod_5_unit_price,prod_7,prod_7_unit_price,prod_4,prod_4_unit_price,prod_10,prod_10_unit_price
0,la2xdzzw7qv5om6fa0g,2020-02-26 21:06:55.977794,9,47.0,1.54,7.0,4.9,40.0,1.39,207.836004,2.09,509.705960,3.22,570.924833,2.54,674.144248,4.21,NaN,3.22,NaN,1.8,NaN,3.87,NaN,3.65,NaN,1.13,NaN,1.9
1,la2xdzzw09rx1jt6tkpk,2020-02-26 21:07:42.378067,9,NaN,1.54,NaN,4.9,NaN,1.39,655.195199,2.09,NaN,3.22,NaN,2.54,672.358260,4.21,41.0,3.22,20.0,1.8,3.0,3.87,10.0,3.65,NaN,1.13,NaN,1.9
2,la2xdzzwzpwl5zjyen8,2020-02-27 07:45:42.775440,9,7.0,1.54,22.0,4.9,21.0,1.39,350.212205,2.09,NaN,3.22,NaN,2.54,65.142030,4.21,1.0,3.22,14.0,1.8,NaN,3.87,6.0,3.65,27.0,1.13,NaN,1.9
3,la2xdzzwh89kcz9h7sq,2020-02-26 17:25:25.950196,9,NaN,1.54,NaN,4.9,48.0,1.39,38.414236,2.09,432.824559,3.22,559.079681,2.54,603.228758,4.21,8.0,3.22,NaN,1.8,2.0,3.87,NaN,3.65,NaN,1.13,NaN,1.9
4,la2xdzzwd0z4v96skr,2020-02-27 06:28:40.799502,9,31.0,1.54,44.0,4.9,33.0,1.39,NaN,2.09,43.218127,3.22,690.523969,2.54,215.136299,4.21,22.0,3.22,NaN,1.8,46.0,3.87,17.0,3.65,47.0,1.13,763.744033,1.9

In [14]:
# creating a column with profits (quantity x unit price)
for i in dict_price.keys():
    indice_column = df_project.columns.get_loc(i)
    indice_column += 2
    df_project.insert(indice_column,f'{i}_profit',(df_project[i]*df_project[f'{i}_unit_price']))
    df_project[f'{i}_profit'] = df_project[f'{i}_profit'].apply(lambda x: round(x,2))

In [15]:
df_project.head()

,id,date,week_number,prod_0,prod_0_unit_price,prod_0_profit,prod_2,prod_2_unit_price,prod_2_profit,prod_6,prod_6_unit_price,prod_6_profit,prod_8,prod_8_unit_price,prod_8_profit,prod_9,prod_9_unit_price,prod_9_profit,prod_11,prod_11_unit_price,prod_11_profit,prod_15,prod_15_unit_price,prod_15_profit,prod_1,prod_1_unit_price,prod_1_profit,prod_3,prod_3_unit_price,prod_3_profit,prod_5,prod_5_unit_price,prod_5_profit,prod_7,prod_7_unit_price,prod_7_profit,prod_4,prod_4_unit_price,prod_4_profit,prod_10,prod_10_unit_price,prod_10_profit
0,la2xdzzw7qv5om6fa0g,2020-02-26 21:06:55.977794,9,47.0,1.54,72.38,7.0,4.9,34.3,40.0,1.39,55.60,207.836004,2.09,434.38,509.705960,3.22,1641.25,570.924833,2.54,1450.15,674.144248,4.21,2838.15,NaN,3.22,NaN,NaN,1.8,NaN,NaN,3.87,NaN,NaN,3.65,NaN,NaN,1.13,NaN,NaN,1.9,NaN
1,la2xdzzw09rx1jt6tkpk,2020-02-26 21:07:42.378067,9,NaN,1.54,NaN,NaN,4.9,NaN,NaN,1.39,NaN,655.195199,2.09,1369.36,NaN,3.22,NaN,NaN,2.54,NaN,672.358260,4.21,2830.63,41.0,3.22,132.02,20.0,1.8,36.0,3.0,3.87,11.61,10.0,3.65,36.50,NaN,1.13,NaN,NaN,1.9,NaN
2,la2xdzzwzpwl5zjyen8,2020-02-27 07:45:42.775440,9,7.0,1.54,10.78,22.0,4.9,107.8,21.0,1.39,29.19,350.212205,2.09,731.94,NaN,3.22,NaN,NaN,2.54,NaN,65.142030,4.21,274.25,1.0,3.22,3.22,14.0,1.8,25.2,NaN,3.87,NaN,6.0,3.65,21.90,27.0,1.13,30.51,NaN,1.9,NaN
3,la2xdzzwh89kcz9h7sq,2020-02-26 17:25:25.950196,9,NaN,1.54,NaN,NaN,4.9,NaN,48.0,1.39,66.72,38.414236,2.09,80.29,432.824559,3.22,1393.70,559.079681,2.54,1420.06,603.228758,4.21,2539.59,8.0,3.22,25.76,NaN,1.8,NaN,2.0,3.87,7.74,NaN,3.65,NaN,NaN,1.13,NaN,NaN,1.9,NaN
4,la2xdzzwd0z4v96skr,2020-02-27 06:28:40.799502,9,31.0,1.54,47.74,44.0,4.9,215.6,33.0,1.39,45.87,NaN,2.09,NaN,43.218127,3.22,139.16,690.523969,2.54,1753.93,215.136299,4.21,905.72,22.0,3.22,70.84,NaN,1.8,NaN,46.0,3.87,178.02,17.0,3.65,62.05,47.0,1.13,53.11,763.744033,1.9,1451.11

## Part II - Concatenating tables

In [18]:
# concatenando os dataframes gerados a partir da API
df = pd.concat([df, df_project], axis=0, join='outer')
df= df.reset_index(drop=True)
df.tail(10)

,id,date,prod_4,prod_5,prod_8,prod_9,prod_10,prod_11,prod_1,prod_2,prod_3,prod_7,prod_0,prod_6,prod_15
119,la1iu7f60czz623g2gy,2020-03-05 01:32:14.754357,21.407996,NaN,110.258015,-148.643863,9.771425,NaN,NaN,29.113228,NaN,NaN,31.675181,48.726237,222.149126
120,la1iu7f6x34wdx92t1r,2020-03-04 21:38:11.797267,37.057116,11.011193,228.041680,144.420051,64.802513,-43.425670,48.457102,NaN,NaN,NaN,4.469550,NaN,-109.208994
121,la1iu7f72cbfom7oh5w,2020-03-05 06:04:29.167724,NaN,4.390464,17.694712,160.458681,NaN,-24.943184,NaN,NaN,4.529510,12.312325,38.784326,18.160678,268.714320
122,la1iu7f76o21nxqv467,2020-03-05 07:33:42.526467,NaN,42.719950,469.136499,NaN,NaN,60.136869,NaN,18.264871,NaN,22.882902,36.421068,NaN,-60.021674
123,la1iu7f7vcmhb08e62,2020-03-05 00:57:39.240309,21.329415,NaN,231.229813,92.856489,-291.224343,18.952397,NaN,33.497465,NaN,10.340448,NaN,10.013119,-149.388114
124,la1iu7f7tuc4u3cg9l,2020-03-05 05:50:01.569497,NaN,NaN,4.285895,NaN,NaN,NaN,NaN,NaN,35.005029,NaN,3.496543,45.044214,138.367354
125,la1iu7f7occ9e82057,2020-03-05 04:23:18.263197,NaN,13.648277,35.042158,-168.464687,338.007440,NaN,NaN,NaN,NaN,NaN,NaN,22.508206,375.878338
126,la1iu7f768qowlqoexx,2020-03-05 05:09:55.335898,3.556569,5.924237,34.734732,22.121510,NaN,-199.638242,NaN,NaN,9.288077,22.625881,38.428344,41.961061,-208.850890
127,la1iu7f7v7knorlhurp,2020-03-04 17:04:29.160992,20.992438,5.327555,13.034025,-53.111176,324.609322,-246.615396,0.688039,NaN,NaN,NaN,NaN,NaN,482.129853
128,la1iu7f78gehdrp3065,2020-03-05 02:44:33.575156,21.793402,12.139870,-266.813437,NaN,-161.318390,NaN,NaN,38.035860,24.643486,3.234756,27.261319,44.285205,-165.622223

In [26]:
# sum of products per month
group_month = df.groupby(df['date'].dt.isocalendar().week)['prod_4'].sum()
group_month

week
3     104.779655
4     192.561850
5     452.619696
6     309.030225
7      47.879700
8     185.890592
9     247.246623
10    182.906778
Name: prod_4, dtype: float64

In [20]:
# selecting months and years
sales_month = df[(df['date'].dt.month == 9) & (df['date'].dt.year == 2021)]
sales_month

Empty DataFrame
Columns: [id, date, prod_4, prod_5, prod_8, prod_9, prod_10, prod_11, prod_1, prod_2, prod_3, prod_7, prod_0, prod_6, prod_15]
Index: []