<center><strong><h1>
    ADA FINAL PROJECT II </h1></strong></center>

<center>
<img src="https://i.postimg.cc/G3vX5dvW/new-product-sales-turn-innovation-into-growth-4x.png" width="600" alt="cognitiveclass.ai logo"  /></center>

# Project Code

## Ada_project

Repository for the essential files for the final project of the Programming Techniques course - Ada tech. The practical objective of this project is to develop a system for storing, maintaining and manipulating databases using pandas.

In this work, we want to create a system for organizing product sales data in a company. There are already two services that implement different blocks of a complete project.
Repository for the essential files for the final project of the Programming Techniques course - Ada tech. The practical objective of this project is to develop a system for storing, maintaining and manipulating databases using pandas.

In this work, we want to create a system for organizing product sales data in a company. There are already two services that implement different blocks of a complete project.

### Part 1 - Data Acquisition
Initially, a web-server created in Javascript will serve as an entry point for the data, simulating the weekly acquisition of all products sold by the company. To run the server, you need to install [NodeJS](https://nodejs.org/en/). With the repository folder already cloned, you must use the following commands to install the packages.

`npm init`
`npm install`

Then just run the `node web-server.js` command. To request the data in JSON format, just use a GET request to localhost:3000/api/ep1

### Part 2 - Data Storage and Management

This is the necessary stage of the project. The student must be able to create a system that can update tables in the face of new data. Also, the formatting of dataframes must be in accordance with the project's specifications, so that communication with the dashboard can be stablished immediately and correctly, without any further adaptation. 

### Part 3 - Data visualization

Last step of the project pipeline. Using the aforementioned tables, this script generates a dashboard containing essential info for data visualization. The script uses the `streamlit` framework. In order to run locally, the student should install the package (either using `pip install streamlit` or `conda install streamlit`). To run the application, just type `streamlit run app.py` and access localhost:8501 to view the dashboard. If the second part of the project is done correctly, the dashboard should work like the image below.

![example](https://github.com/mdrs-thiago/ada_project/blob/492aafd0f66fdb37fec04a4e72c085ca7aba87f1/ada_project_dashboard.png)

## Imports

In [118]:
import pandas as pd
import numpy as np
import requests
import datetime 
import random

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline 

#import unicodedata
#import math
#import time

In [119]:
# show all Columns
pd.set_option("display.max_columns", None)

## Main Fuctions

In [120]:
dict_price = {}
df_concat = pd.DataFrame()

In [122]:
def request_api (x:str):
    '''
    x: str <- link da API
    '''
    exemple = requests.get(x)
    dados = exemple.json()
    df = pd.json_normalize(dados)
#   df['date'] = df['date'].apply(lambda x: datetime.datetime.fromtimestamp(x))
    df.iloc[:,2:] = df.iloc[:,2:].abs()
    
    return df

In [155]:
# getting a list of generated products (columns):
def prod_in_columns():
    global products
    products = df_api.columns
    products = products[2:]
    return products

# transforming prod_0 – prod_7 into integer, because quantity of products purchased is in units:
def integer_prod():
    for i in products:
        for j in range(8):
            if i == f'prod_{j}':
                df_api[i] = df_api[i].apply(np.floor)
    return

# creating random prices for items for the first time
def price_products():
    global v
    for i in products:
        if i not in dict_price.keys():
            dict_price[i] = [round(random.uniform(1, 5),2),None,None]
            dict_price[i][1] = df_api[i].sum()
            dict_price[i][2] = df_api[i].sum()
        else:
            dict_price[i][1] = dict_price[i][2]
            dict_price[i][2] = df_api[i].sum()
            v = abs(dict_price[i][2] - dict_price[i][1])
            dict_price[i][0] = round(dict_price[i][0] + (np.exp(-v)/(1+np.exp(-v))),2)
    return

# apply the unit price created into the DataFrame
def unit_price():
    for i in products:
        indice_column = df_api.columns.get_loc(i)
        indice_column += 1
        df_api.insert(indice_column,f'{i}_unit_price',dict_price[i][0])
    return

# creating a column with profits (quantity x unit price)
def prod_profit():
    for i in products:
        indice_column = df_api.columns.get_loc(i)
        indice_column += 2
        df_api.insert(indice_column,f'{i}_profit',(df_api[i]*df_api[f'{i}_unit_price']))
        df_api[f'{i}_profit'] = df_api[f'{i}_profit'].apply(lambda x: round(x,2))
    return

# concatenando os dataframes gerados a partir da API
def concat_api():
    global df_concat
    df_concat = pd.concat([df_concat, df_api], axis=0, join='outer')
    df_concat= df_concat.reset_index(drop=True)
    return

## TESTES

In [125]:
# IMPORTANT: Use df_api as variable
for i in range(500):
    df_api = request_api('http://localhost:3000/api/ep1')
    prod_in_columns()
    integer_prod()
    price_products()
    unit_price()
    prod_profit()
    concat_api()
    
df_concat['date'] = df_concat['date'].apply(lambda x: datetime.datetime.fromtimestamp(x))

In [ ]:
df_api.shape

In [ ]:
df_api.tail()

In [ ]:
dict_price

In [ ]:
#concat_api()

In [ ]:
df_concat.shape

In [ ]:
df_concat.tail()

## Part I - Creating DataFrame and Data Wrangling

In [ ]:
# creating table and putting a week list:
df_api = request_api('http://localhost:3000/api/ep1')
df_api.head(5)

In [ ]:
# getting a list of generated products (columns):
def prod_in_columns():
    global products
    products = df_api.columns
    products = products[2:]
    return products

In [ ]:
prod_in_columns()

In [ ]:
# transforming prod_0 – prod_7 into integer, because quantity of products purchased is in units:
def integer_prod():
    for i in products:
        for j in range(8):
            if i == f'prod_{j}':
                df_api[i] = df_api[i].apply(np.floor)
    return

In [ ]:
integer_prod()

In [ ]:
df_api.head()

In [ ]:
# creating random prices for items for the first time
def price_products():
    global v
    for i in products:
        if i not in dict_price.keys():
            dict_price[i] = [round(random.uniform(1, 5),2),None,None]
            dict_price[i][1] = df_api[i].sum()
            dict_price[i][2] = df_api[i].sum()
        else:
            dict_price[i][1] = dict_price[i][2]
            dict_price[i][2] = df_api[i].sum()
            v = abs(dict_price[i][2] - dict_price[i][1])
            dict_price[i][0] = round(dict_price[i][0] + (np.exp(-v)/(1+np.exp(-v))),2)
    return

In [ ]:
price_products()

In [ ]:
v

In [ ]:
dict_price

In [ ]:
# apply the unit price created into the DataFrame
def unit_price():
    for i in dict_price.keys():
        indice_column = df_api.columns.get_loc(i)
        indice_column += 1
        df_api.insert(indice_column,f'{i}_unit_price',dict_price[i][0])
    return

In [ ]:
unit_price()

In [ ]:
 df_api.head()

In [ ]:
# creating a column with profits (quantity x unit price)
def prod_profit():
    for i in dict_price.keys():
        indice_column = df_api.columns.get_loc(i)
        indice_column += 2
        df_api.insert(indice_column,f'{i}_profit',(df_api[i]*df_api[f'{i}_unit_price']))
        df_api[f'{i}_profit'] = df_api[f'{i}_profit'].apply(lambda x: round(x,2))
    return

In [ ]:
prod_profit()

In [ ]:
df_api.tail()

## Part II - Concating tables

In [ ]:
# concatenando os dataframes gerados a partir da API
def concat_api():
    global df_concat
    df_concat = pd.concat([df_concat, df_api], axis=0, join='outer')
    df_concat= df_concat.reset_index(drop=True)
    return

In [ ]:
concat_api()

In [ ]:
df_concat.tail(5)

In [ ]:
df_concat.to_csv("all_sales")

## Part III - Groupby

Display a pandas DataFrame with a given format using:

In [ ]:
pd.options.display.float_format = '{:.2f}'.format

### Database with all transactions

In [149]:
#df_total = pd.DataFrame(df_concat,columns = list_prodcts)

In [150]:
#df_consolidate = pd.DataFrame(df_concat,columns = list_prodcts)

In [ ]:
#df_consolidate

In [207]:
df_concat

,id,date,prod_4,prod_4_unit_price,prod_4_profit,prod_5,prod_5_unit_price,prod_5_profit,prod_6,prod_6_unit_price,prod_6_profit,prod_7,prod_7_unit_price,prod_7_profit,prod_8,prod_8_unit_price,prod_8_profit,prod_9,prod_9_unit_price,prod_9_profit,prod_11,prod_11_unit_price,prod_11_profit,prod_0,prod_0_unit_price,prod_0_profit,prod_2,prod_2_unit_price,prod_2_profit,prod_10,prod_10_unit_price,prod_10_profit,prod_3,prod_3_unit_price,prod_3_profit,prod_1,prod_1_unit_price,prod_1_profit,prod_15,prod_15_unit_price,prod_15_profit
0,la7ijihfzow5fba99g,2020-01-08 16:34:06.009098,26.00,1.65,42.90,24.00,2.56,61.44,49.00,3.37,165.13,37.00,3.77,139.49,1.36,4.57,6.22,393.14,2.84,1116.51,358.30,4.83,1730.57,NaN,4.33,NaN,NaN,1.26,NaN,NaN,3.21,NaN,NaN,3.84,NaN,NaN,4.27,NaN,NaN,NaN,NaN
1,la7ijihfrzwj4syhof,2020-01-08 20:22:40.746607,NaN,1.65,NaN,NaN,2.56,NaN,7.00,3.37,23.59,NaN,3.77,NaN,NaN,4.57,NaN,NaN,2.84,NaN,162.85,4.83,786.59,46.00,4.33,199.18,14.00,1.26,17.64,138.87,3.21,445.79,NaN,3.84,NaN,NaN,4.27,NaN,NaN,NaN,NaN
2,la7ijihfxflwkf1zukb,2020-01-08 16:54:29.353896,7.00,1.65,11.55,19.00,2.56,48.64,25.00,3.37,84.25,NaN,3.77,NaN,5.62,4.57,25.68,326.39,2.84,926.95,140.13,4.83,676.81,NaN,4.33,NaN,NaN,1.26,NaN,300.99,3.21,966.18,23.00,3.84,88.32,NaN,4.27,NaN,NaN,NaN,NaN
3,la7ijihf9u28dmvtegu,2020-01-09 08:16:02.358788,45.00,1.65,74.25,7.00,2.56,17.92,39.00,3.37,131.43,33.00,3.77,124.41,189.56,4.57,866.28,443.84,2.84,1260.51,206.80,4.83,998.83,27.00,4.33,116.91,NaN,1.26,NaN,84.95,3.21,272.68,NaN,3.84,NaN,35.00,4.27,149.45,NaN,NaN,NaN
4,la7ijihfgsrdf1qtm55,2020-01-09 01:01:09.853168,13.00,1.65,21.45,NaN,2.56,NaN,25.00,3.37,84.25,NaN,3.77,NaN,NaN,4.57,NaN,NaN,2.84,NaN,199.62,4.83,964.14,NaN,4.33,NaN,24.00,1.26,30.24,NaN,3.21,NaN,14.00,3.84,53.76,NaN,4.27,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7835,la7ijxfm986x8c7qom4,2029-08-01 20:55:18.730136,19.00,4.53,86.07,NaN,4.05,NaN,33.00,5.68,187.44,NaN,5.03,NaN,685.53,4.73,3242.56,26.22,2.85,74.73,465.85,5.04,2347.90,NaN,5.77,NaN,14.00,2.31,32.34,233.14,3.21,748.37,NaN,5.48,NaN,16.00,5.64,90.24,2782.16,4.31,11991.12
7836,la7ijxfm6313gndxavy,2029-08-02 01:21:59.980772,NaN,4.53,NaN,NaN,4.05,NaN,22.00,5.68,124.96,36.00,5.03,181.08,NaN,4.73,NaN,590.09,2.85,1681.76,503.99,5.04,2540.10,14.00,5.77,80.78,NaN,2.31,NaN,NaN,3.21,NaN,NaN,5.48,NaN,47.00,5.64,265.08,3252.67,4.31,14019.00
7837,la7ijxfmg556jhzylgd,2029-08-02 04:14:52.392740,6.00,4.53,27.18,23.00,4.05,93.15,48.00,5.68,272.64,NaN,5.03,NaN,155.32,4.73,734.66,NaN,2.85,NaN,463.38,5.04,2335.45,NaN,5.77,NaN,NaN,2.31,NaN,566.85,3.21,1819.60,NaN,5.48,NaN,32.00,5.64,180.48,2537.39,4.31,10936.15
7838,la7ijxfmen72gsbd0yh,2029-08-01 22:20:13.565682,NaN,4.53,NaN,NaN,4.05,NaN,13.00,5.68,73.84,NaN,5.03,NaN,546.62,4.73,2585.53,669.07,2.85,1906.85,564.43,5.04,2844.74,NaN,5.77,NaN,22.00,2.31,50.82,630.15,3.21,2022.80,48.00,5.48,263.04,NaN,5.64,NaN,3035.52,4.31,13083.11
7839,la7ijxfmapbam7apirp,2029-08-01 18:31:24.761591,NaN,4.53,NaN,7.00,4.05,28.35,NaN,5.68,NaN,NaN,5.03,NaN,NaN,4.73,NaN,687.84,2.85,1960.35,562.60,5.04,2835.52,NaN,5.77,NaN,NaN,2.31,NaN,NaN,3.21,NaN,NaN,5.48,NaN,NaN,5.64,NaN,2690.94,4.31,11597.94

### Database with total transactions by month

In [175]:
# taking only the column list of the products transactions
list_prodcts = list(dict_price.keys())
list_prodcts.insert(0,'id')
list_prodcts.insert(1,'date')

In [ ]:
list_prodcts

In [177]:
df_month_transactions = pd.DataFrame(df_concat,columns = list_prodcts)

In [ ]:
#df_month_transactions

In [178]:
df_monthly_sales = df_month_transactions.groupby(pd.Grouper(key='date', freq='M')).sum()

In [ ]:
#df_monthly_sales

In [179]:
df_monthly_sales['balance'] = df_monthly_sales.iloc[:,:].sum(axis = 1)

In [ ]:
#df_monthly_sales.shape

In [ ]:
#df_monthly_sales.head()

### Database with weekly price of products, in R$.

In [130]:
# taking just the price column list
list_prodcts_price = list(dict_price.keys())
for i in range(len(list_prodcts_price)):
    list_prodcts_price[i] = f'{list_prodcts_price[i]}_unit_price'
list_prodcts_price.insert(0,'id')
list_prodcts_price.insert(1,'date')

In [ ]:
#list_prodcts_price

In [131]:
df_unit_price = pd.DataFrame(df_concat,columns = list_prodcts_price)

In [ ]:
#df_unit_price

In [132]:
df_weekly_price = df_unit_price.groupby(pd.Grouper(key='date', freq='W')).mean()

In [ ]:
#df_weekly_price.head()

### Database with total monthly sales, in R$.

In [180]:
# taking only the profit revenue column list
list_prodcts_profit= list(dict_price.keys())
for i in range(len(list_prodcts_profit)):
    list_prodcts_profit[i] = f'{list_prodcts_profit[i]}_profit'
list_prodcts_profit.insert(0,'id')
list_prodcts_profit.insert(1,'date')

In [147]:
#list_prodcts_profit

In [197]:
teste24 = dict_price.keys()
teste24 = list(teste24)

In [198]:
teste24.append('balance')

In [ ]:
teste24

In [200]:
df_monthly_profit = pd.DataFrame(df_concat,columns = list_prodcts_profit)

In [ ]:
#df_monthly_profit.head()

In [201]:
df_monthly_revenue = df_monthly_profit.groupby(pd.Grouper(key='date', freq='M')).sum()

In [202]:
df_monthly_revenue['balance'] = df_monthly_revenue.iloc[:,:].sum(axis = 1)

In [203]:
df_monthly_revenue.columns = teste24

In [204]:
df_monthly_revenue

,prod_4,prod_5,prod_6,prod_7,prod_8,prod_9,prod_11,prod_0,prod_2,prod_10,prod_3,prod_1,prod_15,balance
date,,,,,,,,,,,,,,
2020-01-31,1544.40,1930.24,2807.21,3549.41,61610.96,36411.89,57318.27,4065.87,1261.26,49451.52,3410.86,4022.34,0.00,227384.23
2020-02-29,1080.75,2288.64,2868.39,4068.30,61718.33,41347.36,68307.30,3091.62,990.36,37950.85,3744.20,3416.00,109734.61,340606.71
2020-03-31,1775.40,2124.80,3423.94,3900.22,69843.55,51637.78,88862.92,5040.12,1593.90,57026.23,3060.98,3910.90,164902.92,457103.66
2020-04-30,1697.85,2240.00,3190.72,4224.30,62797.56,36202.15,66474.11,4788.23,946.53,39400.83,3713.32,3689.40,117297.87,346662.87
2020-05-31,625.35,1090.56,1389.18,1756.98,28499.03,26894.72,36982.77,814.20,514.31,31391.18,1323.46,1570.14,81317.27,214169.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2029-04-30,2544.76,2106.00,5009.76,5085.33,72173.95,41068.91,82614.38,4304.42,1496.88,48177.66,3210.64,4201.80,1004082.26,1276076.75
2029-05-31,6698.64,5613.30,7168.16,7736.14,133126.52,73982.62,146930.79,8856.95,3060.75,96902.12,8352.72,6976.68,1780297.31,2285702.70
2029-06-30,4366.32,4410.45,3822.64,3616.57,78085.57,40394.40,79779.80,5291.09,2259.18,46136.07,5200.52,4731.96,1009939.58,1288034.15
2029-07-31,3576.96,3150.90,3510.24,4386.16,52466.07,45218.09,58743.04,3819.74,2111.34,42353.45,3529.12,3976.20,790740.44,1017581.75
2029-08-31,607.02,603.45,1567.68,558.33,13159.96,8995.18,15972.85,663.55,464.31,11170.84,745.28,919.32,187566.62,242994.39

## Part IV - Creating Data Bases

### All Sales

In [137]:
df_concat.to_csv("df_all_sales.csv")

### Monthly Sales

In [140]:
df_monthly_sales.to_csv("df_consolidate.csv")

### Weekly Price

In [141]:
df_weekly_price.to_csv("df_weekly_price.csv")

### Monthly Revenue

In [206]:
df_monthly_revenue.to_csv("df_month_revenue.csv")

## Part V - Exploratory Data Analysis (EDA)