<center><strong><h1>
    ADA FINAL PROJECT II </h1></strong></center>

<center>
<img src="https://i.postimg.cc/G3vX5dvW/new-product-sales-turn-innovation-into-growth-4x.png" width="600" alt="cognitiveclass.ai logo"  /></center>

# Project Code

## Ada_project

Repository for the essential files for the final project of the Programming Techniques course - Ada tech. The practical objective of this project is to develop a system for storing, maintaining and manipulating databases using pandas.

In this work, we want to create a system for organizing product sales data in a company. There are already two services that implement different blocks of a complete project.
Repository for the essential files for the final project of the Programming Techniques course - Ada tech. The practical objective of this project is to develop a system for storing, maintaining and manipulating databases using pandas.

In this work, we want to create a system for organizing product sales data in a company. There are already two services that implement different blocks of a complete project.

### Part 1 - Data Acquisition
Initially, a web-server created in Javascript will serve as an entry point for the data, simulating the weekly acquisition of all products sold by the company. To run the server, you need to install [NodeJS](https://nodejs.org/en/). With the repository folder already cloned, you must use the following commands to install the packages.

`npm init`
`npm install`

Then just run the `node web-server.js` command. To request the data in JSON format, just use a GET request to localhost:3000/api/ep1

### Part 2 - Data Storage and Management

This is the necessary stage of the project. The student must be able to create a system that can update tables in the face of new data. Also, the formatting of dataframes must be in accordance with the project's specifications, so that communication with the dashboard can be stablished immediately and correctly, without any further adaptation. 

### Part 3 - Data visualization

Last step of the project pipeline. Using the aforementioned tables, this script generates a dashboard containing essential info for data visualization. The script uses the `streamlit` framework. In order to run locally, the student should install the package (either using `pip install streamlit` or `conda install streamlit`). To run the application, just type `streamlit run app.py` and access localhost:8501 to view the dashboard. If the second part of the project is done correctly, the dashboard should work like the image below.

![example](https://github.com/mdrs-thiago/ada_project/blob/492aafd0f66fdb37fec04a4e72c085ca7aba87f1/ada_project_dashboard.png)

## Imports

In [ ]:
import pandas as pd
import numpy as np
import requests
import datetime 
import random

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline 

import warnings
#import unicodedata
#import math
#import time

In [ ]:
# show all Columns
pd.set_option("display.max_columns", None)

#  warnings package to suppress warnings
warnings.filterwarnings('ignore')

## Main Fuctions

In [ ]:
dict_price = {}
df_concat = pd.DataFrame()

In [ ]:
def request_api (x:str):
    '''
    x: str <- link da API
    '''
    exemple = requests.get(x)
    dados = exemple.json()
    df = pd.json_normalize(dados)
#   df['date'] = df['date'].apply(lambda x: datetime.datetime.fromtimestamp(x))
    df.iloc[:,2:] = df.iloc[:,2:].abs()
    
    return df

In [ ]:
# getting a list of generated products (columns):
def prod_in_columns():
    global products
    products = df_api.columns
    products = products[2:]
    return products

# transforming prod_0 – prod_7 into integer, because quantity of products purchased is in units:
def integer_prod():
    for i in products:
        for j in range(8):
            if i == f'prod_{j}':
                df_api[i] = df_api[i].apply(np.floor)
    return

# creating random prices for items for the first time
def price_products():
    global v
    for i in products:
        if i not in dict_price.keys():
            dict_price[i] = [round(random.uniform(1, 5),2),None,None]
            dict_price[i][1] = df_api[i].sum()
            dict_price[i][2] = df_api[i].sum()
        else:
            dict_price[i][1] = dict_price[i][2]
            dict_price[i][2] = df_api[i].sum()
            v = dict_price[i][2] - dict_price[i][1]
            dict_price[i][0] = round(dict_price[i][0] + (np.exp((-1)*v)/(1+np.exp((-1)*v))),2)
    return

# apply the unit price created into the DataFrame
def unit_price():
    for i in products:
        indice_column = df_api.columns.get_loc(i)
        indice_column += 1
        df_api.insert(indice_column,f'{i}_unit_price',dict_price[i][0])
    return

# creating a column with profits (quantity x unit price)
def prod_profit():
    for i in products:
        indice_column = df_api.columns.get_loc(i)
        indice_column += 2
        df_api.insert(indice_column,f'{i}_revenue',(df_api[i]*df_api[f'{i}_unit_price']))
        df_api[f'{i}_revenue'] = df_api[f'{i}_revenue'].apply(lambda x: round(x,2))
    return

# concatenando os dataframes gerados a partir da API
def concat_api():
    global df_concat
    df_concat = pd.concat([df_concat, df_api], axis=0, join='outer')
    df_concat= df_concat.reset_index(drop=True)
    return

## TESTES

In [ ]:
# IMPORTANT: Use df_api as variable
for i in range(500):
    df_api = request_api('http://localhost:3000/api/ep1')
    prod_in_columns()
    integer_prod()
    price_products()
    unit_price()
    prod_profit()
    concat_api()
    
df_concat['date'] = df_concat['date'].apply(lambda x: datetime.datetime.fromtimestamp(x))

In [ ]:
df_api.shape

In [ ]:
df_api.tail()

In [ ]:
dict_price

In [ ]:
df_concat.shape

In [ ]:
df_concat.sample(5)

## Part I - Creating DataFrame and Data Wrangling

In [ ]:
# creating table and putting a week list:
df_api = request_api('http://localhost:3000/api/ep1')
df_api.head(5)

In [ ]:
# getting a list of generated products (columns):
def prod_in_columns():
    global products
    products = df_api.columns
    products = products[2:]
    return products

In [ ]:
prod_in_columns()

In [ ]:
# transforming prod_0 – prod_7 into integer, because quantity of products purchased is in units:
def integer_prod():
    for i in products:
        for j in range(8):
            if i == f'prod_{j}':
                df_api[i] = df_api[i].apply(np.floor)
    return

In [ ]:
integer_prod()

In [ ]:
df_api.head()

In [ ]:
# creating random prices for items for the first time
def price_products():
    global v
    for i in products:
        if i not in dict_price.keys():
            dict_price[i] = [round(random.uniform(1, 5),2),None,None]
            dict_price[i][1] = df_api[i].sum()
            dict_price[i][2] = df_api[i].sum()
        else:
            dict_price[i][1] = dict_price[i][2]
            dict_price[i][2] = df_api[i].sum()
            v = dict_price[i][2] - dict_price[i][1]
            dict_price[i][0] = round(dict_price[i][0] + (np.exp(-v)/(1+np.exp(-v))),2)
    return

In [ ]:
price_products()

In [ ]:
v

In [ ]:
dict_price

In [ ]:
# apply the unit price created into the DataFrame
def unit_price():
    for i in dict_price.keys():
        indice_column = df_api.columns.get_loc(i)
        indice_column += 1
        df_api.insert(indice_column,f'{i}_unit_price',dict_price[i][0])
    return

In [ ]:
unit_price()

In [ ]:
 df_api.head()

In [ ]:
# creating a column with profits (quantity x unit price)
def prod_profit():
    for i in dict_price.keys():
        indice_column = df_api.columns.get_loc(i)
        indice_column += 2
        df_api.insert(indice_column,f'{i}_revenue',(df_api[i]*df_api[f'{i}_unit_price']))
        df_api[f'{i}_revenue'] = df_api[f'{i}_revenue'].apply(lambda x: round(x,2))
    return

In [ ]:
prod_profit()

In [ ]:
df_api.tail()

## Part II - Concating tables

In [ ]:
# concatenando os dataframes gerados a partir da API
def concat_api():
    global df_concat
    df_concat = pd.concat([df_concat, df_api], axis=0, join='outer')
    df_concat= df_concat.reset_index(drop=True)
    return

In [ ]:
concat_api()

In [ ]:
df_concat.tail(5)

In [ ]:
df_concat.to_csv("all_sales")

## Part III - Groupby

Display a pandas DataFrame with a given format using:

In [ ]:
pd.options.display.float_format = '{:.2f}'.format

Creating first a DataFrame only with 'id' and 'date'

In [ ]:
df_id_date = df_concat.iloc[:,:2]

In [ ]:
df_id_date.tail()

Creating a DataFrame only with the product quantity transaction data

In [ ]:
df_prod = pd.concat([df_id_date, df_concat.iloc[:,2::3]], axis=1, join='outer')

In [ ]:
df_prod.head(3)

Creating a DataFrame with the unit price data of the products

In [ ]:
df_prod_price = pd.concat([df_id_date, df_concat.iloc[:,3::3]], axis=1, join='outer')

In [ ]:
df_prod_price.head(3)

Creating a table only with the product's revenue data

In [ ]:
df_prod_revenue = pd.concat([df_id_date, df_concat.iloc[:,4::3]], axis=1, join='outer')

In [ ]:
df_prod_revenue.head()

### Database with all transactions

In [ ]:
df_all_sales = df_concat

In [ ]:
df_all_sales.head()

### Database with total transactions by month

In [ ]:
df_consolidate = df_prod.groupby(pd.Grouper(key='date', freq='M')).sum()

In [ ]:
df_consolidate['balance'] = df_consolidate.iloc[:,:].sum(axis = 1)

In [ ]:
df_consolidate.head()

### Database with weekly price of products, in R$.

In [ ]:
df_weekly_price = df_prod_price.groupby(pd.Grouper(key='date', freq='W')).max()

In [ ]:
df_weekly_price.head()

### Database with total monthly sales, in R$.

Modifying column names

In [ ]:
standardized_columns = dict_price.keys()
standardized_columns = list(standardized_columns)

In [ ]:
standardized_columns.append('balance')

In [ ]:
standardized_columns

In [ ]:
df_monthly_revenue = df_prod_revenue.groupby(pd.Grouper(key='date', freq='M')).sum()

In [ ]:
df_monthly_revenue['balance'] = df_monthly_revenue.iloc[:,:].sum(axis = 1)

In [ ]:
df_monthly_revenue.columns = standardized_columns

In [ ]:
df_monthly_revenue

## Part IV - Creating Data Bases

### All Sales

In [ ]:
all_sales.to_csv("df_all_sales.csv")

### Monthly Sales

In [ ]:
df_monthly_sales.to_csv("df_consolidate.csv")

### Weekly Price

In [ ]:
df_weekly_price.to_csv("df_weekly_price.csv")

### Monthly Revenue

In [ ]:
df_monthly_revenue.to_csv("df_month_revenue.csv")

## Part V - Exploratory Data Analysis (EDA)