<center><strong><h1>
    ADA FINAL PROJECT </h1></strong></center>

<center>
<img src="https://i.postimg.cc/G3vX5dvW/new-product-sales-turn-innovation-into-growth-4x.png" width="600" alt="cognitiveclass.ai logo"  /></center>

# Project Code

## Ada_project

Repository for the essential files for the final project of the Programming Techniques course - Ada tech. The practical objective of this project is to develop a system for storing, maintaining and manipulating databases using pandas.

In this work, we want to create a system for organizing product sales data in a company. There are already two services that implement different blocks of a complete project.
Repository for the essential files for the final project of the Programming Techniques course - Ada tech. The practical objective of this project is to develop a system for storing, maintaining and manipulating databases using pandas.

In this work, we want to create a system for organizing product sales data in a company. There are already two services that implement different blocks of a complete project.

### Part 1 - Data Acquisition
Initially, a web-server created in Javascript will serve as an entry point for the data, simulating the weekly acquisition of all products sold by the company. To run the server, you need to install [NodeJS](https://nodejs.org/en/). With the repository folder already cloned, you must use the following commands to install the packages.

`npm init`
`npm install`

Then just run the `node web-server.js` command. To request the data in JSON format, just use a GET request to localhost:3000/api/ep1

### Part 2 - Data Storage and Management

This is the necessary stage of the project. The student must be able to create a system that can update tables in the face of new data. Also, the formatting of dataframes must be in accordance with the project's specifications, so that communication with the dashboard can be stablished immediately and correctly, without any further adaptation. 

### Part 3 - Data visualization

Last step of the project pipeline. Using the aforementioned tables, this script generates a dashboard containing essential info for data visualization. The script uses the `streamlit` framework. In order to run locally, the student should install the package (either using `pip install streamlit` or `conda install streamlit`). To run the application, just type `streamlit run app.py` and access localhost:8501 to view the dashboard. If the second part of the project is done correctly, the dashboard should work like the image below.

![example](https://github.com/mdrs-thiago/ada_project/blob/492aafd0f66fdb37fec04a4e72c085ca7aba87f1/ada_project_dashboard.png)

## Imports

In [ ]:
import pandas as pd
import numpy as np
import requests
import datetime 
import random
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline 

#import unicodedata
#import math
#import time

In [ ]:
# show all Columns
pd.set_option("display.max_columns", None)

## Main Fuctions

In [ ]:
dict_price = {}
df_concat = pd.DataFrame()

In [ ]:
def request_api (x:str):
    '''
    x: str <- link da API
    '''
    exemple = requests.get(x)
    dados = exemple.json()
    df = pd.json_normalize(dados)
    df['date'] = df['date'].apply(lambda x: datetime.datetime.fromtimestamp(x))
    df.insert(2,'week_number',df['date'].dt.isocalendar().week)
    df.iloc[:,3:] = df.iloc[:,3:].abs()
    
    return df

In [ ]:
# getting a list of generated products (columns):
def retorno_colunas():
    global products
    products = df_api.columns
    products = products[3:]
    return products

# transforming prod_0 – prod_7 into integer, because quantity of products purchased is in units:
def integer_prod():
    for i in products:
        for j in range(8):
            if i == f'prod_{j}':
                df_api[i] = df_api[i].apply(np.floor)
    return

# creating random prices for items for the first time
def price_products():
    global v
    for i in products:
        if i not in dict_price.keys():
            dict_price[i] = [round(random.uniform(1, 5),2),None,None]
            dict_price[i][1] = df_api[i].sum()
            dict_price[i][2] = df_api[i].sum()
        else:
            dict_price[i][1] = dict_price[i][2]
            dict_price[i][2] = df_api[i].sum()
            v = abs(dict_price[i][2] - dict_price[i][1])
            dict_price[i][0] = round(dict_price[i][0] + (np.exp(-v)/(1+np.exp(-v))),2)
    return

# apply the unit price created into the DataFrame
def unit_price():
    for i in products:
        indice_column = df_api.columns.get_loc(i)
        indice_column += 1
        df_api.insert(indice_column,f'{i}_unit_price',dict_price[i][0])
    return

# creating a column with profits (quantity x unit price)
def prod_profit():
    for i in products:
        indice_column = df_api.columns.get_loc(i)
        indice_column += 2
        df_api.insert(indice_column,f'{i}_profit',(df_api[i]*df_api[f'{i}_unit_price']))
        df_api[f'{i}_profit'] = df_api[f'{i}_profit'].apply(lambda x: round(x,2))
    return

# concatenando os dataframes gerados a partir da API
def concat_api():
    global df_concat
    df_concat = pd.concat([df_concat, df_api], axis=0, join='outer')
    df_concat= df_concat.reset_index(drop=True)
    return

## TESTES

In [ ]:
# IMPORTANT: Use df_api as variable
for i in range(200):
    df_api = request_api('http://localhost:3000/api/ep1')
    retorno_colunas()
    integer_prod()
    price_products()
    unit_price()
    prod_profit()
    concat_api()

In [ ]:
df_api.shape

In [ ]:
df_api.tail()

In [ ]:
dict_price

In [ ]:
#concat_api()

In [ ]:
df_concat.shape

In [ ]:
df_concat.tail()

## Part I - Creating DataFrame and Data Wrangling

In [ ]:
# creating table and putting a week list:
df_api = request_api('http://localhost:3000/api/ep1')
df_api.head(5)

In [ ]:
# getting a list of generated products (columns):
def retorno_colunas():
    global products
    products = df_api.columns
    products = products[3:]
    return products

In [ ]:
retorno_colunas()

In [ ]:
# transforming prod_0 – prod_7 into integer, because quantity of products purchased is in units:
def integer_prod():
    for i in products:
        for j in range(8):
            if i == f'prod_{j}':
                df_api[i] = df_api[i].apply(np.floor)
    return

In [ ]:
integer_prod()

In [ ]:
df_api.head()

In [ ]:
# creating random prices for items for the first time
def price_products():
    global v
    for i in products:
        if i not in dict_price.keys():
            dict_price[i] = [round(random.uniform(1, 5),2),None,None]
            dict_price[i][1] = df_api[i].sum()
            dict_price[i][2] = df_api[i].sum()
        else:
            dict_price[i][1] = dict_price[i][2]
            dict_price[i][2] = df_api[i].sum()
            v = abs(dict_price[i][2] - dict_price[i][1])
            dict_price[i][0] = round(dict_price[i][0] + (np.exp(-v)/(1+np.exp(-v))),2)
    return

In [ ]:
price_products()

In [ ]:
v

In [ ]:
dict_price

In [ ]:
# apply the unit price created into the DataFrame
def unit_price():
    for i in dict_price.keys():
        indice_column = df_api.columns.get_loc(i)
        indice_column += 1
        df_api.insert(indice_column,f'{i}_unit_price',dict_price[i][0])
    return

In [ ]:
unit_price()

In [ ]:
 df_api.head()

In [ ]:
# creating a column with profits (quantity x unit price)
def prod_profit():
    for i in dict_price.keys():
        indice_column = df_api.columns.get_loc(i)
        indice_column += 2
        df_api.insert(indice_column,f'{i}_profit',(df_api[i]*df_api[f'{i}_unit_price']))
        df_api[f'{i}_profit'] = df_api[f'{i}_profit'].apply(lambda x: round(x,2))
    return

In [ ]:
prod_profit()

In [ ]:
df_api.tail()

## Part II - Concating tables

In [ ]:
# concatenando os dataframes gerados a partir da API
def concat_api():
    global df_concat
    df_concat = pd.concat([df_concat, df_api], axis=0, join='outer')
    df_concat= df_concat.reset_index(drop=True)
    return

In [ ]:
concat_api()

In [ ]:
df_concat.sample(10)

In [ ]:
df_concat.to_csv("all_sales")

## Part III - Groupby

In [105]:
df_concat.groupby(pd.Grouper(key='date', freq='Y')).sum()

,week_number,prod_0,prod_0_unit_price,prod_0_profit,prod_1,prod_1_unit_price,prod_1_profit,prod_2,prod_2_unit_price,prod_2_profit,prod_3,prod_3_unit_price,prod_3_profit,prod_4,prod_4_unit_price,prod_4_profit,prod_7,prod_7_unit_price,prod_7_profit,prod_8,prod_8_unit_price,prod_8_profit,prod_9,prod_9_unit_price,prod_9_profit,prod_11,prod_11_unit_price,prod_11_profit,prod_5,prod_5_unit_price,prod_5_profit,prod_10,prod_10_unit_price,prod_10_profit,prod_6,prod_6_unit_price,prod_6_profit,prod_15,prod_15_unit_price,prod_15_profit
date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2020-12-31,24588,11112.0,3019.87,39955.20,10714.0,2903.00,37010.02,9822.0,1212.07,14218.39,11158.0,2964.25,39610.90,10133.0,1325.10,15983.79,9857.0,2663.65,31443.83,193156.090234,3830.40,880791.88,191317.460620,1747.20,397940.44,168076.253519,3603.60,721047.06,9934.0,4053.43,48508.68,182658.025982,4121.17,903642.93,10402.0,983.55,12180.80,4.326031e+05,2830.23,1596305.29
2021-12-31,25098,10500.0,3257.76,38047.20,10590.0,3390.94,40055.80,11247.0,1432.75,17888.72,11037.0,3425.39,41973.69,11548.0,1432.78,18349.34,11153.0,2921.33,36117.57,192572.641450,4113.12,878131.27,195359.902123,1876.16,406348.74,177977.302213,3869.58,763522.61,10849.0,4410.78,53051.61,185320.884340,4482.94,921044.87,11234.0,1417.85,17629.97,7.981801e+05,3328.38,2945284.44
2022-12-31,23863,11406.0,3187.87,42975.77,10716.0,3350.07,42683.28,10305.0,1355.62,16591.05,10287.0,3265.33,39801.94,10659.0,1576.89,19884.27,11255.0,2741.04,36466.20,197795.251772,3857.76,901946.37,206482.261291,1759.68,429483.14,186559.034767,3629.34,800338.16,10703.0,4278.45,54715.02,197203.206043,4184.74,980099.99,10543.0,1976.42,24718.95,1.017928e+06,3121.74,3756155.99
2023-12-31,18664,10280.0,3181.83,41255.60,10324.0,3184.02,41192.76,10471.0,1342.13,17616.04,10348.0,3194.73,41520.69,10072.0,1506.23,19047.16,9715.0,2585.52,31476.60,166929.775729,3638.88,761199.82,161228.277070,1657.76,335354.77,158099.435880,3419.13,678246.66,10222.0,4122.68,52806.99,169095.235253,3956.12,840403.31,10071.0,2036.08,25667.40,1.144609e+06,2944.62,4223607.13

In [ ]:
# sum of products per month
group_month = df_concat.groupby(df['date'].dt.isocalendar().week)['prod_4'].sum()
group_month

In [ ]:
df_teste = df_concat.groupby(df_concat['date'].dt.isocalendar().week,as_index=True).sum()

In [ ]:
df_years = df_concat.groupby(df_concat['date'].dt.year,as_index=True).sum()

In [ ]:
df_years.head(20)

In [ ]:
years_list = list(df_years.index)

In [ ]:
years_list

In [ ]:
df_year = pd.DataFrame(df_concat['date'].dt.year)
df_month = pd.DataFrame(df_concat['date'].dt.month)
df_week = pd.DataFrame(df_concat['date'].dt.isocalendar().week)

In [ ]:
df_year

In [ ]:
# selecting months and years
sales_month = df[(df['date'].dt.month == 9) & (df['date'].dt.year == 2021)]
sales_month

## Part IV - Creating Data Bases